.nav_container {
    width: 100vw;
    background: black;
}

.nav_list{
    
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
    height: 3rem;
    align-items: center;
}