.dashboard{
    height: 100vh;
    width: 100vw;
    background: white;
}

.dash_content{
    display: grid;
    grid-template-columns: 1fr 200px ;
    overflow-y: auto;
    transition: grid-template-columns .3s ease-out;
}

.dash_body{
    overflow-y: auto;
    overflow-x: hidden;
    background: blue;
    max-height: calc(100vh - 4rem)
}